.blobFooter {
	width: 500px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.footer {
	background-color: white;
	margin-top: 100px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

.icon {
	padding: 5px;
	color: #69088d;
}

.contentsBlob {
	position: absolute;
	z-index: 3;
	top: 57%;
	left: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
}

.readyToJoin {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */

	color: #000000;
}

.purpledBtn {
	color: white;
	width: 11rem;
	margin-left: 40px;

	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(255, 255, 255, 0) 69.78%
		),
		#69088d;
	/* Button/Primary/Dropshadow */
	box-shadow: 0px 4px 3px rgba(47, 4, 63, 0.7);
	border-radius: 16px;
}

.purpledBtnNL {
	color: white;
	width: 11rem;
	margin-left: 40px;
	margin-top: 20px;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(255, 255, 255, 0) 69.78%
		),
		#69088d;
	/* Button/Primary/Dropshadow */
	box-shadow: 0px 4px 3px rgba(47, 4, 63, 0.7);
	border-radius: 16px;
}

.topRight {
	position: absolute;
	right: 30px;
	margin-top: 10px;
}

.footerTop {
	position: relative;
}

.subscribeNews {
	/* Subtitle 2, Semi Bold, 18px */
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;

	/* Main UI Colors/Primary/Purple */
	color: #69088d;
}

.attendButton {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 30px 40px;
	margin-top: 1vh;
	width: 162px;
	height: 46px;

	/* Button/Primary/Dropshadow */
	box-shadow: 0px 4px 3px rgba(47, 4, 63, 0.7);
	border-radius: 16px;
	outline: none;
	border: 0;
	/* Inside auto layout */
	flex: none;
	order: 2;
	flex-grow: 0;
	background-color: white;
	/* Button Text, Semi bold, 16px */
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height, or 138% */
	display: flex;
	align-items: center;
	text-align: center;

	/* Light/--text-color-on-primary */
	color: black;

	/* Inside auto layout */
	flex: none;
	order: 1;
	flex-grow: 0;
}

@media (min-width: 1400px) {
	.blobFooter1 {
		position: absolute;
		top: 45px !important;
	}
}

@media (max-width: 1400px) {
	.blobFooter1 {
		position: absolute;
		top: 45px !important;
	}
}

@media (max-width: 1100px) {
	.blobFooter1 {
		position: absolute;
		top: 70px !important;
		height: 440px;
	}

	.menus1 {
		padding: 0 !important;
		margin: 0 !important;
	}

	.menus2 {
		padding: 0 !important;
		margin: 0 !important;
	}

	.menus3 {
		padding: 0 !important;
		margin: 0 !important;
	}

	.contentsBlob {
		position: absolute;
		top: 57%;
		left: 45%;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	.footerBottom {
		margin-top: 60px;
	}
}

@media (max-width: 1025px) {
	.blobFooter1 {
		position: absolute;
		top: 70px !important;
		height: 500px;
	}
	.contentsBlob {
		position: absolute;
		top: 60%;
		left: 50%;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	.blob {
		margin-bottom: 150px !important;
	}
}

@media (max-width: 1000px) {
	.blobFooter1 {
		position: absolute;
		top: 70px !important;
		height: 500px;
	}
	.contentsBlob {
		position: absolute;
		top: 60%;
		left: 50%;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	.blob {
		margin-bottom: 150px !important;
	}
}

@media (max-width: 770px) {
	.blobFooter1 {
		position: absolute;
		top: 0px !important;
		height: 500px;
		margin: 0;
	}

	.blob {
		margin: 0;
		height: 300px !important;
	}

	.middleLeft {
		height: 100px;
		margin-bottom: 150px !important;
	}

	.contentsBlob {
		position: absolute;
		top: 50%;
		left: 55%;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	.footer {
		bottom: 0 !important;
	}
	.middleRight {
		height: 100%;
		margin-bottom: 200px;
	}

	.bottomRight {
		display: none;
	}

	input {
		width: 240px;
	}

	.menus1 {
		position: absolute;
		left: 0;
		margin-top: 0;
	}

	.menus2 {
		position: absolute;
		right: 0;
		margin-top: 0;
	}
	.menus3 {
		display: none;
	}

	.galaxy {
		display: block;
	}

	.footerBottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.purpledBtn {
		margin-left: 0;
	}

	.footerBottom {
		margin-top: 160px;
	}
}

@media (max-width: 600px) {
	.headText {
		display: none;
	}
	.footer {
		bottom: 0;
	}

	.middleLeft {
		margin-bottom: 200px !important;
		padding-top: 90px !important;
	}

	.subscribeNews {
		margin-left: -10px;
		font-size: small;
	}

	.blobFooter1 {
		position: absolute;
		top: 50px !important;
		height: 500px;
		width: 430px;
	}

	.blobFooter {
		margin-bottom: 0;
		height: 460px;
		left: 10px;
	}

	.bottomRight {
		display: none;
	}

	.contentsBlob {
		position: absolute;
		top: 65% !important;
		left: 46% !important;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	input {
		width: 240px;
	}

	.menus1 {
		position: absolute;
		left: 0;
		margin-top: 0;
	}

	.menus2 {
		position: absolute;
		right: 0;
		margin-top: 0;
	}
	.menus3 {
		display: none;
	}

	.galaxy {
		display: block;
	}

	.purpledBtnNL {
		width: 8rem;
		margin-left: 60px;
		padding: 10px;
	}

	.footerBottom {
		margin-top: 30px;
	}
}

@media (max-width: 500px) {
	.footer {
		bottom: 0;
	}

	.subscribeNews {
		margin-left: -20px;
		font-size: small;
	}

	.blobFooter1 {
		position: absolute;
		top: 50px !important;
		height: 500px;
		width: 430px;
	}

	.blobFooter {
		margin-bottom: 0;
		height: 460px;
		left: 10px;
	}

	.bottomRight {
		display: none;
	}

	.contentsBlob {
		position: absolute;
		top: 55%;
		left: 40%;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	input {
		width: 240px;
	}

	.footerBottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bottomMiddle {
		width: 100% !important;
	}
}

@media (max-width: 414px) {
	.footer {
		bottom: 0;
	}

	.subscribeNews {
		margin-left: -10px;
		font-size: small;
	}

	.BottomLeft {
		margin-top: 20px;
	}

	.bottomRight {
		display: none;
	}
	.blobFooter1 {
		position: absolute;
		top: 50px !important;
		height: 470px;

		width: 400px;
	}

	.blobFooter {
		margin-bottom: 0;
		height: 450px;
	}

	.bottomRight {
		display: none;
	}

	.contentsBlob {
		position: absolute;
		top: 65% !important;
		left: 53% !important;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	.middleLeft {
		margin-top: 30px;
	}

	input {
		width: 240px;
	}

	.menus1 {
		position: absolute;
		left: 0;
		margin-top: 0;
	}

	.menus2 {
		position: absolute;
		right: 0;
		margin-top: 0;
	}
	.menus3 {
		display: none;
	}

	.footerBottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bottomMiddle {
		width: 100% !important;
	}
}

@media (max-width: 400px) {
	.footer {
		bottom: 0;
	}

	.subscribeNews {
		margin-left: -10px;
		font-size: small;
	}

	.bottomRight {
		display: none;
	}

	.blobFooter1 {
		position: absolute;
		top: 50px !important;
		height: 470px;
		width: 370px;
	}

	.blobFooter {
		margin-bottom: 0;
		height: 450px;
	}

	.contentsBlob {
		position: absolute;
		top: 65% !important;
		left: 50% !important;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	.middleLeft {
		margin-top: 30px;
	}

	input {
		width: 220px;
	}

	.menus1 {
		position: absolute;
		left: 0;
		margin-top: 0;
	}

	.menus2 {
		position: absolute;
		right: 0;
		margin-top: 0;
	}
	.menus3 {
		display: none;
	}

	.footerBottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bottomMiddle {
		width: 100% !important;
	}

	.bottomMiddle {
		width: 100% !important;
	}
}

@media (max-width: 360px) {
	.blobFooter1 {
		position: absolute;
		top: 50px !important;
		height: 470px;
		width: 370px;
	}

	.blobFooter {
		margin-bottom: 0;
		height: 450px;
	}

	.contentsBlob {
		position: absolute;
		top: 65% !important;
		left: 50% !important;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	.middleLeft {
		margin-top: 30px;
	}

	.subscribeNews {
		margin-left: -10px;
		font-size: small;
	}

	.bottomRight {
		display: none;
	}

	.menus1 {
		position: absolute;
		left: 0;
		margin-top: 0;
	}

	.menus2 {
		position: absolute;
		right: 0;
		margin-top: 0;
	}

	input {
		width: 160px;
	}

	.footerBottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bottomMiddle {
		width: 100% !important;
	}

	.purpledBtnNL {
		font-size: x-small;
		width: 6rem;
		margin-left: 50px;
		padding: 7px;
	}
}

@media (max-width: 300px) {
	.subscribeNews {
		margin-left: -10px;
		font-size: x-small;
	}

	.readyToJoin {
		font-size: small;
	}

	.blobFooter1 {
		position: absolute;
		top: 50px !important;
		height: 470px;
		width: 260px;
	}

	.blobFooter {
		margin-bottom: 0;
		height: 500px;
	}

	.contentsBlob {
		position: absolute;
		top: 60% !important;
		left: 50% !important;
		margin: auto;
		transform: translate(-50%, -50%);
	}

	.middleLeft {
		margin-top: 30px;
	}

	.menus1 {
		position: absolute;
		left: 0;
		margin-top: 0;
	}

	.menus2 {
		position: absolute;
		right: 0;
		margin-top: 0;
	}

	input {
		width: 140px;
		margin-bottom: 0;
	}

	.footerBottom {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bottomMiddle {
		width: 100% !important;
	}

	.BottomLeft {
		width: 100% !important;
	}

	.purpledBtnNL {
		margin-top: 0;
		top: 0;
		width: 4rem;
		margin-left: 47px;
		padding: 1px;
	}
}
