.imbalance-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 100px;

  width: 1215px;
  height: 426px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.imbalancephoto-container {
  width: 317.79px;
  height: 426px;

  background: url("../images/Program1.png");

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.imbalancecontent-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 680px;
  height: 302px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.imbalancetitle-container {
  width: 633px;
  height: 76px;

  /* H2 Headline, Light, 64px */

  font-family: "Londrina Solid";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */

  /* Placeholder text, active */

  color: #323338;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.imbalanceintro-container {
  width: 680px;
  height: 96px;

  /* Body, Regular, 16px */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;
  text-align: left;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.imbalancefaq-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;

  width: 566px;
  height: 24px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.imbalancebutton-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  gap: 8px;

  width: 267px;
  height: 46px;

  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 69.78%
    ),
    #69088d;
  /* Button/Primary/Dropshadow */

  box-shadow: 0px 4px 3px rgba(47, 4, 63, 0.7);
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.imbalancebuttonlabel-container {
  width: 187px;
  height: 22px;

  /* Button Text, Semi bold, 16px */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Light/--text-color-on-primary */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
