.main-container{
    display: flex;
    flex-direction: row;
}

.right-container{
    background-color: var(--primary-color);
    width: 668px;
    height: 413px;
    border-radius: 0px 32px 32px 0px;
}

.left-container{
    width: 650px;
    height: 413px;
}

.submit-button{
    background-color: var(--primary-color-yellow);
}