input {
	border-color: #edbbff !important;
	border-radius: 3px;
	width: 200px;
	height: 40px;
}

input:focus {
	border-color: #7b61ff !important;
}

.errorInput {
	border-color: red;
}

.incorrectText {
	color: red;
}
