.incorrectText {
	color: red;
	position: absolute;

	width: 160px !important;
	top: 50px;
}

input {
	width: 280px !important;
	margin-right: 10px !important;
}

@media (max-width: 700px) {
	.newLetterBtn {
		display: flex;
		flex-direction: column !important;
	}

	input {
		margin-bottom: 30px !important;
	}
}

@media (max-width: 300px) {
	.incorrectText {
		font-size: 10px;
	}
}
