.incorrectText {
	color: red;
}

.submit-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* padding: 12px 40px; */
	width: 162px;
	height: 46px;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.35) 0%,
			rgba(255, 255, 255, 0.07) 64.06%
		),
		#ffd166;
	box-shadow: 0px 4px 3px rgba(165, 159, 16, 0.7);
	border-radius: 16px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #323338;
}

@media (max-width: 500px) {
	input {
		width: 140px;
		height: 5px;
	}
}
