.family-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 104px;

  position: absolute;
  width: 1300px;
  height: 492px;
  left: 70px;
  bottom: 5221px;
}

.familyleft-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 38px;

  width: 532px;
  height: 468px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 0px;
  gap: 20px;

  width: 532px;
  height: 384px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.family-title {
  width: 346px;
  height: 76px;

  /* H2 Headline, Light, 64px */

  font-family: "Londrina Solid";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Greyscale palette/Dark */

  color: #323338;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.family-content {
  width: 532px;
  height: 288px;

  /* Body, Regular, 16px */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.familybutton-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 38px;

  width: 222px;
  height: 46px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.left-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 40px;
  gap: 8px;

  width: 222px;
  height: 46px;

  /* Main UI Colors/Primary/Purple */

  border: 2px solid #69088d;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.left-label {
  width: 142px;
  height: 22px;

  /* Button Text, Semi bold, 16px */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 138% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Light/--primary-text-color */

  color: #323338;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.familyright-container {
  width: 645px;
  height: 492px;

  background: url(../images/7.png);
  background-size: 100%;
  /* Large Elements */

  filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.3));
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
