.blog-container {
  position: absolute;
  width: 1304px;
  height: 759px;
  left: 64px;
  bottom: 2871px;
}

.blogmain-title {
  position: absolute;
  width: 589px;
  height: 76px;
  left: 0px;
  top: 0px;

  /* H2 Headline, Light, 64px */

  font-family: "Londrina Solid";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* Placeholder text, active */

  color: #323338;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 420px;
  height: 638px;
  left: 0px;
  top: 121px;

  /* Large Elements */

  filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.3));
}

.middle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 420px;
  height: 638px;
  left: 442px;
  top: 121px;

  /* Large Elements */

  filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.3));
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 420px;
  height: 638px;
  left: 884px;
  top: 121px;

  /* Large Elements */

  filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.3));
}

.left-photo {
  width: 420px;
  height: 316px;

  background: url(../images/cinema.png);
  border-radius: 16px 16px 0px 0px;
}

.middle-photo {
  width: 420px;
  height: 316px;

  background: url(../images/capture22.png);
  border-radius: 16px 16px 0px 0px;
}

.right-photo {
  width: 420px;
  height: 316px;

  background: url(../images/capture1.png);
  border-radius: 16px 16px 0px 0px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 24px 32px;

  position: static;
  width: 370px;
  height: 322px;
  left: 0px;
  top: 316px;

  background: #ffffff;
  border-radius: 0px 0px 16px 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 24px;

  position: static;
  width: 372px;
  height: 46px;
  left: 24px;
  top: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}

.blog-author {
  position: static;
  width: 247px;
  height: 22px;
  left: 0px;
  top: 0px;

  /* UI TEXT UPPERCASE, REGULAR, 14 PX */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  /* Placeholder text, active */

  color: #323338;
}

.date {
  position: static;
  width: 190px;
  height: 22px;
  left: 250px;
  top: 0px;

  /* Ui text, Regular, 14px */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  display: flex;
  align-items: center;

  /* Placeholder text, active */

  color: #323338;
}

.blog-title {
  position: static;
  width: 372px;
  height: 36px;
  left: 24px;
  top: 70px;

  /* Subtitle 1, Semi Bold, 24px */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  display: flex;
  align-items: flex-start;

  /* Placeholder text, active */

  color: #323338;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}

.blog-content {
  position: static;
  width: 372px;
  height: 144px;
  left: 24px;
  top: 114px;

  /* Body, Regular, 16px */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: left;

  /* Placeholder text, active */

  color: #323338;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}

.blog-tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 4px;

  position: static;
  left: 5.71%;
  right: 66.19%;
  top: 82.61%;
  bottom: 9.94%;

  /* Main UI Colors/Selected/Purple */

  background: #edbbff;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 8px 0px;
}

.tag-text {
  position: static;
  height: 22px;
  left: 4px;
  right: 4px;
  top: calc(50% - 22px / 2);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Placeholder text, active */

  color: #323338;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
