@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background: linear-gradient(90deg, #e9afff 0%, #ffedc4 98.65%);
}
* {
	font-family: "Poppins";
	font-size: 16px;
}

h1,
h2,
h3,
h4 {
	font-family: "Londrina Solid";
}

h1 {
	font-size: 102px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 24px;
}

button {
	font-family: "Poppins";
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;

	padding: .85em 3em;
}

.shadow {
	filter: drop-shadow(0, 15px, 50px, #4d000000);
}

.yellow-pink-gradient {
	background: linear-gradient(110deg, #ffecc0 15%, #ffb0c4 60%);
}

.yellow {
	background-color: #ffd166;
}

.orange {
	background-color: #eebdad;
}

.purple {
	background-color: #69088d;
}

.purple-outline {
	border-width: 3px;
	border-color: #69088d;
	background-color: transparent;
}

.light-purple {
	background-color: #edbbff;
}

.blue {
	background-color: #aab4d6;
}