/* Fonts */
@font-face {
	font-family: 'Londrina Solid';
	src: url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Regular.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Londrina Solid';
	src: url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Regular.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Londrina Solid';
	src: url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Black.woff2') format('woff2');
	     url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Londrina Solid';
	src: url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Light.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Light.woff') format('woff');
	font-family: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Londrina Solid';
	src: url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Thin.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Londrina/LondrinaSolid-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-BlackItalic.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-Light.woff') format('woff');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-LightItalic.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-LightItalic.woff') format('woff');
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-MediumItalic.woff') format('woff');
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-Thin.woff') format('woff');
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-ThinItalic.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-ThinItalic.woff') format('woff');
	font-style: italic;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('https://x.scambi.org/fonts/Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
	     url('https://x.scambi.org/fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}

/* TailwindCSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-[102px];
	}

	h2 {
		@apply text-[64px];
	}

	h3 {
		@apply text-[32px];
	}

	h4 {
		@apply text-[24px];
	}
}

/** Normal CSS **/

html {
	font-family: 'Poppins', Filson, Sofia, 'ITC Avant Garde Gothic', sans-serif;
}

body,
#similar-lab {
	background: linear-gradient(90deg, #e9afff 0%, #ffedc4 98.65%);
}

h1,
h2,
h3,
h4,
#logo {
	font-family: 'Londrina Solid', 'Panton Black', 'Folk-solid', sans-serif;
}

button {
	font-size: 16px;
	line-height: 22px;
	padding: 0.85em 3em;
	font-weight: 600;
	box-shadow: 0px 4px 3px rgba(47, 4, 63, 0.7);
}

footer {
	box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);
}

.btn-primary {
	color: white;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(255, 255, 255, 0) 69.78%
		),
		#69088d;
}

.btn-primary:hover,
.btn-primary-light:hover {
	color: white;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(255, 255, 255, 0) 69.78%
		),
		#69088d;
}

.btn-primary:active,
.btn-primary-light:active {
	background: #4e0968;
}

.btn-primary-light {
	background-color: white;
}

.yellow-pink-gradient {
	background: linear-gradient(110deg, #ffecc0 15%, #ffb0c4 60%);
}

.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.9;
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
}
