/* TailwindCSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-[102px];
	}

	h2 {
		@apply text-[64px];
	}

	h3 {
		@apply text-[32px];
	}

	h4 {
		@apply text-[24px];
	}
}

/* Normal CSS */

body {
	background: linear-gradient(90deg, #e9afff 0%, #ffedc4 98.65%);
}

button {
	font-size: 16px;
	line-height: 22px;
	padding: 0.85em 3em;
	font-weight: 600;
	box-shadow: 0px 4px 3px rgba(47, 4, 63, 0.7);
}

.btn-primary {
	color: white;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(255, 255, 255, 0) 69.78%
		),
		#69088d;
}

.btn-primary:hover {
	color: white;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(255, 255, 255, 0) 69.78%
		),
		#69088d;
}

.btn-primary:active {
	background: #4e0968;
}
